html,
body{
    width: 100%;
    font-family: 'Inconsolata', monospace;
    background-color: #dedebc;
}
.navbar{
    background-color: #006565;
    padding: 2px 2px 2px 2px;
}
.row{
    border: 2px solid #006665;
    padding: : 10px 10px 10px 10px;
}
.navbar-brand{
    font-weight: bold;
    font-size: x-large;
}
.form-control{
    text-align: center;
    font-weight: bold;
    text-decoration-color: #dedebc;
}
li{
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: #54ce4a;
}